<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nameko Mini-MiniService Login Page</title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="static/jquery-3.4.1.min.js"></script>
</head>
<body class="container">
    <script>
    // JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();


    function submitClicked() {
        let formData = {"username": $("input:text").val(), "password": $("input:password").val()};
        console.log(formData);

        $.ajax({
            type: "POST",
            url: "/api/1/login/",
            data: JSON.stringify(formData),
            success: function(xhr){
                alert("Sent successfully:\m\n" + xhr.responseText)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error:\n\n" + xhr.responseText);
            },
            dataType: "json",
            contentType : "application/json"
        });
    }
    </script>

    <form class="needs-validation center" style="margin: 25%" novalidate method="post">
        <h1>Nameko-Miniservice Cloud</h1>
        <hr/>
        <h2>Enter credentials:</h2>
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="text" class="form-control" id="username" aria-describedby="usernamelHelp" placeholder="Enter username" required>
            <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="submitClicked()">Submit</button>
    </form>
</body>
</html>